body {
    background-image: url(/images/empty_back.jpg) ;
    background-size: cover;
    z-index: -1;
    background-attachment: fixed;
}


.container{
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap:1rem;
    height:90vh;
    margin:20px;
}
.yk-divs{
    background-color: whitesmoke;
    border-radius: 30px;
}
img{
    border-radius:20px;
    align-self: start;
    justify-self: center;
}
.yk-img{
    display:grid;
}
h1{
    place-self: center;
    font-size: 70px;
    color:rgb(19, 224, 87);
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
}   


