body {
    background-image: url(/images/empty_back.jpg) ;
    background-size: cover;
    z-index: -1;
    background-attachment: fixed;
}


.container{
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap:1rem;
    height:90vh;
    margin:20px;
}
.yk-divs{
    background-color: whitesmoke;
    border-radius: 30px;
}
img{
    border-radius:20px;
    align-self: start;
    justify-self: center;
}
.yk-img{
    display:grid;
    grid-template-rows: auto 80%;
}
.second{
    place-self: center;
    text-align: center;
    font-size: 50px;
    color:crimson;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}  

.first{
    margin-top:70px;
    margin-bottom: 40px;
    margin-left:20px;
    margin-right:20px;
    text-align: center;
    font-size: 50px;
    color:crimson;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.yk-text{
    margin:30px;
    margin-top: 70px;
    margin-bottom: 70px;
}
h2{
    font-family:'Times New Roman', Times, serif;
    font-weight:500;
}
span{
    font-weight:bold;
    font-size: 30px;
}
  


